colorama>=0.4.4
pyinstaller
pynput
pyarmor
requests
ipapi
IPy
geocoder
carrier
timezone
bs4
hashlib
httpx_socks
urllib
concurrent.futures
oncurrent.futures
pyautogui
pywebcopy
pypresence