colorama>=0.4.4
discord.py>=1.5.1
pyinstaller
pynput
pyarmor
requests
ipapi
IPy
geocoder
carrier
timezone
bs4
json
hashlib
httpx_socks
urllib
concurrent.futures
oncurrent.futures
pyautogui
pywebcopy
discord.py
pypresence
